<!DOCTYPE html>
<html>
<head>
  <title>SimpleApp</title>
</head>
<body style="left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); position:absolute;">
My Hostname is <b><%=Socket.gethostname%></b>
</body>
</html>